<a href="https://colab.research.google.com/github/farhadrahimiinfo/Python-Learning/blob/main/Machine_Learning_Create_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd

In [22]:
# save filepath to variable for easier access
melbourne_file_path = 'DataSet/melb_data.csv'
# read the data and store data in DataFrame titled melbourne_data
melbourne_data = pd.read_csv(melbourne_file_path)
# print a summary of the data in Melbourne data
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,6809.000000,6.808000e+03,6808.00000,6808.000000,6808.000000,6808.000000,6808.000000,6808.000000,3817.000000,4364.000000,6808.000000,6808.000000,6808.000000
mean,2.841680,1.091370e+06,8.47215,3095.975323,2.800676,1.509401,1.524236,456.953290,145.449830,1961.177589,-37.809056,144.987059,7815.095182
std,0.957325,6.581367e+05,3.57933,59.537244,0.944510,0.699367,0.921640,1336.263109,158.486262,37.734592,0.060938,0.074027,4395.729809
min,1.000000,8.500000e+04,1.20000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1830.000000,-37.946200,144.788900,394.000000
25%,2.000000,6.500000e+05,5.60000,3044.000000,2.000000,1.000000,1.000000,130.000000,88.000000,1930.000000,-37.852200,144.933075,4675.000000
50%,3.000000,9.100000e+05,8.70000,3081.000000,3.000000,1.000000,1.000000,336.000000,122.000000,1965.000000,-37.802100,144.995800,6821.000000
75%,3.000000,1.350000e+06,11.20000,3145.000000,3.000000,2.000000,2.000000,616.000000,170.000000,1998.000000,-37.762375,145.042300,10412.000000
max,8.000000,6.500000e+06,15.00000,3207.000000,9.000000,8.000000,8.000000,75100.000000,6791.000000,2018.000000,-37.691700,145.143800,21650.000000

In [23]:
#Selecting Data for Modeling
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [24]:
# The Melbourne data has some missing values (some houses for which some variables weren't recorded.)
# We'll learn to handle missing values in a later tutorial.
# Your Iowa data doesn't have missing values in the columns you use.
# So we will take the simplest option for now, and drop houses from our data.
# Don't worry about this much for now, though the code is:

# dropna drops missing values (think of na as "not available")
melbourne_data = melbourne_data.dropna(axis=0)

In [25]:
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,3678.000000,3.678000e+03,3678.000000,3678.000000,3678.000000,3678.000000,3678.000000,3678.000000,3678.000000,3678.000000,3678.000000,3678.000000,3678.000000
mean,2.888798,1.117141e+06,8.408048,3095.020663,2.843665,1.571234,1.525557,414.578575,141.920881,1960.852909,-37.808692,144.986590,7759.494018
std,0.970256,6.969088e+05,3.587464,59.826484,0.960338,0.722767,0.904330,566.643721,99.362332,38.174910,0.060666,0.073687,4334.599321
min,1.000000,1.310000e+05,1.200000,3000.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1830.000000,-37.946200,144.788900,790.000000
25%,2.000000,6.450000e+05,5.600000,3044.000000,2.000000,1.000000,1.000000,127.000000,88.000000,1930.000000,-37.851900,144.932150,4836.000000
50%,3.000000,9.200000e+05,8.400000,3079.000000,3.000000,1.000000,1.000000,320.500000,122.000000,1965.000000,-37.802300,144.993350,6821.000000
75%,3.000000,1.400000e+06,11.200000,3145.000000,3.000000,2.000000,2.000000,607.750000,170.000000,1999.000000,-37.762725,145.042200,10412.000000
max,8.000000,6.500000e+06,15.000000,3207.000000,9.000000,8.000000,8.000000,15100.000000,3112.000000,2018.000000,-37.691700,145.143600,21650.000000

In [26]:
#Selecting The Prediction Target
#We'll use the dot notation to select the column we want to predict, which is called the prediction target.
# By convention, the prediction target is called y. So the code we need to save the house prices in the Melbourne data is
y = melbourne_data.Price
y

1       1035000.0
2       1465000.0
4       1600000.0
6       1876000.0
7       1636000.0
          ...
6796     998000.0
6797    1010000.0
6799    1050000.0
6802    1600000.0
6803    1325000.0
Name: Price, Length: 3678, dtype: float64

In [27]:
#Choosing "Features
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [28]:
#By convention, this data is called X.

X = melbourne_data[melbourne_features]
X

      Rooms  Bathroom  Landsize  Lattitude  Longtitude
1         2       1.0     156.0   -37.8079    144.9934
2         3       2.0     134.0   -37.8093    144.9944
4         4       1.0     120.0   -37.8072    144.9941
6         3       2.0     245.0   -37.8024    144.9993
7         2       1.0     256.0   -37.8060    144.9954
...     ...       ...       ...        ...         ...
6796      3       1.0     104.0   -37.7723    144.9761
6797      3       2.0       0.0   -37.7740    144.9731
6799      3       1.0     279.0   -37.7729    144.9722
6802      3       1.0     812.0   -37.7673    144.9782
6803      3       2.0     190.0   -37.7684    144.9739

[3678 rows x 5 columns]

In [29]:
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  3678.000000  3678.000000   3678.000000  3678.000000  3678.000000
mean      2.888798     1.571234    414.578575   -37.808692   144.986590
std       0.970256     0.722767    566.643721     0.060666     0.073687
min       1.000000     1.000000      0.000000   -37.946200   144.788900
25%       2.000000     1.000000    127.000000   -37.851900   144.932150
50%       3.000000     1.000000    320.500000   -37.802300   144.993350
75%       3.000000     2.000000    607.750000   -37.762725   145.042200
max       8.000000     8.000000  15100.000000   -37.691700   145.143600

In [30]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [31]:
#Building Your Model
#You will use the scikit-learn library to create your models. When coding, this library is written as sklearn, as you will see in the sample code. Scikit-learn is easily the most popular library for modeling the types of data typically stored in DataFrames.

#The steps to building and using a model are:

#Define: What type of model will it be? A decision tree? Some other type of model? Some other parameters of the model type are specified too.
#Fit: Capture patterns from provided data. This is the heart of modeling.
#Predict: Just what it sounds like
#Evaluate: Determine how accurate the model's predictions are.
#Here is an example of defining a decision tree model with scikit-learn and fitting it with the features and target variable.

from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
melbourne_model = DecisionTreeRegressor(random_state=1)

# Fit model
melbourne_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [32]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]